@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$primary: #2699a3;
$secondary: #ee8687;
$tertiary: #99CED4;
$light: white;
$dark: black;

$headings-font-family: 'Lusitana', serif;
$font-family-base: 'Raleway', sans-serif;
$hero-height: 70vh;
$font-size-base: 1rem;
$hero-background: url(../images/herobackground.jpg);
$hero-color: $light;

$display-font-weight: bold;
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.min.css";

.padded-bottom {
    padding-bottom: 10%;
}
.navbar  {
    background-color: $light;
    color: $primary;
}

.bg-tertiary {
    background-color: $tertiary;
}

.btn-testimonial {
    border-radius: 100%;
}

.btn {
    border-radius: 0;
}
.form-control {
    border-radius: 0;
}


.card {
    border: 0;
}

#cta {
    margin-top: 13%;
    margin-bottom: 10%;
    min-height: 40vh;
}

#about-section {
    margin-top: 10%;
    margin-bottom: 10%;
}

#frontHero {
    min-height: $hero-height;
    background: $hero-background;
    background-size: cover;
    background-attachment: fixed;
    color: $hero-color;
}

.post-card {
    color: $dark;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    max-height: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: $primary;
    overflow: hidden;
    white-space: normal;
    background: white;

    &:hover {
        scale: 1.05;
        transition: all 200ms ease-in-out;
        @extend .shadow-lg;
    }
}

@include media-breakpoint-up(sm) {

    .post-card {

        &:nth-child(2) {
            grid-column: span 2;
        }

        &:nth-child(4) {
            grid-column: span 2;
        }

        &:nth-child(3) {
            grid-row: span 2;
            text-overflow: none;
            max-height: 500px;
            overflow: hidden;
            white-space: normal;
        }
    }
}

.stack {
    display: grid;
    & > * {
        grid-area: 1 / 1 / 2 / 2;
    }
}

.color-block {
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-bottom: 20%;
}

#latest-post {
    color: $dark;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    border-width: 2px;
    border-style: solid;
    border-color: $primary;
    border-color: $secondary;
    background: $light;
    overflow: hidden;
    max-height: 500px;

    &:hover {
        scale: 1.05;
        transition: all 200ms ease-in-out;
        @extend .shadow-lg;
    }

    & h2 {
        color: $tertiary;
    }
}

#topics {
    margin-top: 1.2rem;
    margin-bottom: 10%;
}

.header {
    @extend #frontHero;
    min-height: $hero-height * 0.5;
}

.hero-text {
    font-weight: bold;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}


.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.grid-col-span-1 {
    grid-column: span 1;
}

.grid-row-span-2 {
    grid-row: span 2;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height:  100%;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    background: $tertiary;

    a {
        text-decoration: none;
    }
}

@for $i from 1 through 6 {
    .display-#{$i} {
        font-family: $headings-font-family;
    }
}

.wp-block-heading {
    @extend .display-4;
    color: $primary;
}

.wp-block-quote {
    border-style: solid;
    border-width: 0px;
    border-left-width: 5px;
    padding-left: 2%;
}

.wp-block-pullquote {
    border-style: solid;
    border-left-width: 5px;
}
